PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.dll
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.pdb
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.deps.json
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Shared.dll
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Shared.pdb
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.cache
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.g.props
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.g.targets
PaymentContext.Domain/obj/project.assets.json
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.dll
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.pdb
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.AssemblyInfo.cs
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.AssemblyInfoInputs.cache
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.assets.cache
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.CopyComplete
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.CoreCompileInputs.cache
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.FileListAbsolute.txt
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csprojAssemblyReference.cache
PaymentContext.Shared/bin/Debug/netstandard2.0/PaymentContext.Shared.deps.json
PaymentContext.Shared/bin/Debug/netstandard2.0/PaymentContext.Shared.dll
PaymentContext.Shared/bin/Debug/netstandard2.0/PaymentContext.Shared.pdb
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.pdb
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.cache
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.g.props
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.g.targets
PaymentContext.Shared/obj/project.assets.json
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.dll
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.AssemblyInfo.cs
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.AssemblyInfoInputs.cache
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.assets.cache
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.csproj.CoreCompileInputs.cache
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.csproj.FileListAbsolute.txt
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.csprojAssemblyReference.cache
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.AssemblyInfo.cs
PaymentContext.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
PaymentContext.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
PaymentContext.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Domain.dll
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Domain.pdb
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Shared.dll
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Shared.pdb
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Tests.dll
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Tests.pdb
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Tests.deps.json
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Tests.runtimeconfig.json
PaymentContext.Tests/bin/Debug/netcoreapp2.1/PaymentContext.Tests.runtimeconfig.dev.json
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.cache
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.g.props
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.g.targets
PaymentContext.Tests/obj/project.assets.json
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.dll
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.pdb
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.AssemblyInfoInputs.cache
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.Program.cs
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.assets.cache
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.csproj.CopyComplete
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.csproj.CoreCompileInputs.cache
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.csproj.FileListAbsolute.txt
PaymentContext.Tests/obj/Debug/netcoreapp2.1/PaymentContext.Tests.csprojAssemblyReference.cache
PaymentContext.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PaymentContext.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PaymentContext.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
