PaymentContext.Domain/bin/
PaymentContext.Domain/obj/
PaymentContext.Shared/bin/
PaymentContext.Shared/obj/
PaymentContext.Tests/obj/
PaymentContext.Tests/bin/
/.vs/PaymentContext/v15/Server/sqlite3
/.vs/PaymentContext/v15
